.container {
  padding: 12px 16px;
  color: var(--primary);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  min-width: 168px;
  gap: 8px;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
  }

  &.outlined {
    border: 1px solid var(--primary);

    &:disabled {
      border: 1px solid var(--bg-gray);
      color: var(--bg-gray);
    }

    &:hover {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: var(--background-primary);
    }
  }

  &.outlinedAlways {
    border: 1px solid var(--primary);

    &:disabled {
      border: 1px solid var(--bg-gray);
      color: var(--bg-gray);
      svg {
        opacity: 0.4;
      }
    }

    &:hover {
      border: 1px solid var(--primary);
      color: var(--primary);
    }
  }

  &.text {
    border: 1px solid var(--transparent);
    background-color: var(--transparent);

    &:disabled {
      border: 1px solid var(--bg-gray);
      color: var(--bg-gray);
    }

    &:hover {
      background-color: var(--primary);
      color: var(--background-primary);
    }
  }

  &.contained {
    border: 1px solid var(--button-primary);
    background-color: var(--button-primary);
    color: var(--background-primary);

    &:disabled {
      border: 1px solid var(--bg-gray);
      background-color: var(--bg-gray);
      color: var(--background-primary);
    }

    &:hover {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: var(--background-primary);
    }
  }

  &.smallOutlined {
    border: 1px solid var(--bg-gray);
    font-weight: 500;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    color: var(--bg-gray);
    min-width: unset;

    &:disabled {
      border: 1px solid var(--bg-gray);
      color: var(--bg-gray);
      svg {
        opacity: 0.4;
      }
    }
  }

  .startIcon {
    display: flex;
  }
}
